## Step 1: Import Libraries and Load Dataset

In [2]:
import pandas as pd
titanic = pd.read_csv("titanic_cleaned_F.csv")

## Step 2: High-Level Dataset Overview

Generate summary statistics for all numerical variables.

In [3]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,FamilySize
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,1.904602
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429,1.613459
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,1.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,1.000000
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200,1.000000
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,2.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,11.000000

## Step 3: Understanding Central Tendency

Compare the mean and median of passenger age.

In [21]:
titanic["Age"].mean()
titanic["Age"].median()

np.float64(29.69911764705882)

In [5]:
print(titanic["FamilySize"].mean())
print(titanic["FamilySize"].median())

1.904601571268238
1.0

## Step 4: Analyzing Categorical Variables

Examine the distribution of passenger gender and class.

In [20]:
titanic["Sex"].value_counts(normalize=True)
titanic["Pclass"].value_counts(normalize=True)

Pclass
3    0.551066
1    0.242424
2    0.206510
Name: proportion, dtype: float64

## Step 5: Group-Based Survival Analysis

Task 1: Survival Rate by Gender

In [22]:
titanic.groupby("Sex")["Survived"].mean()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Task 2: Survival Rate by Passenger Class

In [17]:
titanic.groupby("Pclass")["Survived"].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Step 6: Comparing Distributions Between Groups

Compare age distributions for survivors vs non-survivors.

In [26]:
titanic.groupby("Survived")["Age"].describe()

          count       mean        std   min   25%        50%   75%   max
Survived
0         549.0  30.415100  12.457370  1.00  23.0  29.699118  35.0  74.0
1         342.0  28.549778  13.772498  0.42  21.0  29.699118  35.0  80.0

## Step 7: Fare Analysis by Class

Analyze average ticket fare by passenger class.

In [27]:
titanic.groupby("Pclass")["Fare"].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

## Step 8: Family Size Analysis

Examine survival rates based on family size.

In [29]:
titanic.groupby("FamilySize")["Survived"].mean()

FamilySize
1     0.303538
2     0.552795
3     0.578431
4     0.724138
5     0.200000
6     0.136364
7     0.333333
8     0.000000
11    0.000000
Name: Survived, dtype: float64