Practical Examples Using Titanic Dataset

We assume the Titanic dataset is already loaded and cleaned from previous labs.

Lab 4.1 â€“ Practical Examples (Titanic)

In [7]:
import pandas as pd

df = pd.read_csv('cleaned_titanic.csv')

Example 1: Merge Titanic Data with Cabin Information

Create a small dataset containing cabin-related info:

In [ ]:
cabin_info = df2[['PassengerId', 'Cabin']].dropna()

Merge it with the main dataset:

In [ ]:
merged_df = pd.merge(df, cabin_info, on='PassengerId', how='left')
merged_df.head()

Example 2: Concatenate Passenger Groups

Split dataset by gender:

In [27]:
male_df = df[df['Sex'] == 'male']
print(male_df.shape)
female_df = df[df['Sex'] == 'female']
print(female_df.shape)

(577, 11)
(314, 11)

Concatenate back:

In [28]:
combined_df = pd.concat([male_df, female_df])
print(combined_df.shape)

(891, 11)

Example 3: Join Based on Index

Set PassengerId as index:

In [35]:
df_indexed = df.set_index('PassengerId')
fare_df = df[['PassengerId', 'Fare']].set_index('PassengerId')
joined_df = df_indexed.join(fare_df, rsuffix='_fare')
print(joined_df.head())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Embarked  Fare_fare
PassengerId
1                1      0         A/5 21171   7.2500        S     7.2500
2                1      0          PC 17599  71.2833        C    71.2833
3                0      0  STON/O2. 3101282   7.9250        S     7.9250
4                1      0            113803  53.1000        S    53.1000
5                0      0            373450   8.0500        S     8.0500