Practical Examples Using Titanic Dataset

We assume the Titanic dataset is already loaded and cleaned from previous labs.

Lab 4.2 â€“ Practical Examples (Titanic)

In [2]:
import pandas as pd

df = pd.read_csv('cleaned_titanic.csv') #previously edited on lab 4.1_ex.ipynb and lab3.2.py

Example 1: Create Family Size Feature

In [3]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
df[['SibSp', 'Parch', 'FamilySize']].head()

   SibSp  Parch  FamilySize
0      1      0           2
1      1      0           2
2      0      0           1
3      1      0           2
4      0      0           1

Example 2: Create Age Group Feature

In [4]:
df['AgeGroup'] = pd.cut(df['Age'],bins=[0, 12, 18, 60, 100],labels=['Child', 'Teen', 'Adult', 'Senior'])
df[['Age', 'AgeGroup']].head()

    Age AgeGroup
0  22.0    Adult
1  38.0    Adult
2  26.0    Adult
3  35.0    Adult
4  35.0    Adult

Create Family Status Feature (Flag)

Survival-Based Feature

In [5]:
df['IsAlone'] = df['FamilySize'] == 1
df[['FamilySize', 'IsAlone']].head()

   FamilySize  IsAlone
0           2    False
1           2    False
2           1     True
3           2    False
4           1     True

Extract Title from Name

Titles can reflect social class and gender

In [6]:
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
df[['Name', 'Title']].head()

                                                Name Title
0                            Braund, Mr. Owen Harris    Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   Mrs
2                             Heikkinen, Miss. Laina  Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   Mrs
4                           Allen, Mr. William Henry    Mr

In [7]:
# Save cleaned dataset for future use    
df.to_csv('cleaned_titanic_F.csv', index=False)